/* using Grid */


* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
 min-height: 100vh;
}
.container {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  width: 100%;
  max-width: 1100px;
  grid-template-columns: repeat(4, 260px);
  grid-template-rows: repeat(2, 250px);
}
#box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border-radius: 10px;
  color: white;
}
.purple-box {
  background-color: #ba56f6;
  grid-column-start: span 2;
}
.orange-box {
  background-color: #ff6161;
}
.blue-box {
  background-color: #505cca;
  grid-row-start: span 2;
}
.green-box {
  background-color: #3dad99;
}
.pink-box {
  background-color: #be3690;
  grid-column-start: span 2;
}

@media (max-width: 1078px) {
  body{
    padding: 20px 0px;
  }
  .container {
    max-width: 700px;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(4, 250px);
  }
}

@media (max-width: 750px) {
  body {
    margin-inline: 20px;
  }
  .container {
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: repeat(5, 200px);
    width: 100%;
    max-width: 600px;
  }
  .orange-box {
    grid-column: span 2;
  }
  .blue-box {
    grid-row-start: 3;
    grid-column-start: span 2;
  }
  .green-box {
    grid-column-start: span 2;
  }
}
